<h1>What is StudyPerks?</h1>

<p>StudyPerks is a token that will sit in your digital wallet and automate discounts you're entitled to at checkout. No more copying and pasting codes. No more hassle. Just perks.</p>

<h2>How it works:</h2>
<ol>
  <li>Upload your student ID or University letter</li>
  <li>Connect your wallet and get verified</li>
  <li>Receive a StudyPerks token</li>
  <li>Start to see discounts come to you at checkout...finally</li>
</ol>

<a href="/">← Back to Home</a>
