<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="page about-page">

    <!-- HEADER -->
    <%- include('partials/header', { currentPage: 'about' }) %>

    <!-- MAIN CONTENT -->
    <main class="about-content">
      <div class="about-text">
        <h2>How it works?</h2>
        <div class="step-section">
  <img src="/images/studentTakingSelfie.png" alt="Student taking selfie">
  <div class="step-text">
    <ol>
      <li>Upload your student ID or university letter to get verified.</li>
    </ol>
  </div>
</div>

<div class="step-section">
  <img src="/images/getVerified.png" alt="Phone showing verification">
  <div class="step-text">
    <ol start="2">
      <li>Receive a StudyPerks token.</li>
    </ol>
  </div>
</div>

<div class="step-section">
  <img src="/images/automaticDiscount.png" alt="Automatic checkout discount">
  <div class="step-text">
    <ol start="3">
      <li>Enjoy automatic discounts at checkout.</li>
    </ol>
  </div>
</div>

      </div>
    </main>

     <%- include('partials/footer') %>

</body>
</html>
