<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="page about-page">

    <!-- HEADER -->
    <%- include('partials/header', { currentPage: 'about' }) %>

    <!-- MAIN CONTENT -->
    <main class="about-content">
        <h1>How it works?</h1>
        <div class="steps-wrapper">
  <div class="step-section">
    <img src="/images/studentTakingSelfie.png" alt="Step 1">
    <ol class="step-text"><li>Upload your student ID.</li></ol>
  </div>

  <div class="step-section">
    <img src="/images/getVerified.png" alt="Step 2">
    <ol class="step-text" start="2"><li>Receive a StudyPerks token.</li></ol>
  </div>

  <div class="step-section">
    <img src="/images/automaticDiscount.png" alt="Step 3">
    <ol class="step-text" start="3"><li>Enjoy automatic discounts at checkout.</li></ol>
  </div>
</div>
    </main>

     <%- include('partials/footer') %>

</body>
</html>
