<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="page">

  <%- include('partials/header', { currentPage: 'brands' }) %>

  <!-- MAIN CONTENT -->
  <main class="brands-content">
    <h1>Our Brand Partners</h1>
    <p>Take a look at the brands who don't want you missing out on discounts ever again.</p>
    <p>We're talking less copy and paste, more automate.</p>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
