<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="page">

    <!-- HEADER -->
    <%- include('partials/header', { currentPage: 'home' }) %>

    <!-- MAIN CONTENT -->
    <main>
  <h1>
    We tokenize your student card<br>
    so discounts are automatic at checkout
  </h1>
  <p>No codes. No hassle. Just perks.</p>

  <div class="upload-section">
    <img src="/images/halfRedLogo.png" alt="StudyPerks Logo Side" class="bg-watermark" />

    <div class="upload-form">
      <form action="/verify" method="POST" enctype="multipart/form-data">
        <label>Upload your student card or letter:</label><br>
        <input type="file" name="studentCard" required><br><br>

        <label>Enter your wallet address:</label><br>
        <input type="text" name="walletAddress" required><br><br>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</main>
    <br></br>

    <!-- FOOTER -->
    <%- include('partials/footer') %>
    
  </div>
</body>
</html>
