<%- include partials/header.ejs %>

<main>
<div class="jumbotron">
  <div style="text-align: center;">
  <img src="/images/StudyPerks.png" alt="StudyPerks Logo" style="max-width: 200px;">
</div>
  <div class="jumbotron text-center" style="background-color: white;">
  <h4 class="display-4 typewriter mx-auto">No codes. No hassle. Just perks.</h4>
</div>

  <p class="lead"></p>
  <p></p>
  <p class="lead">
    <!--<a class="btn btn-success btn-lg" href="https://dappradar.com/" role="button">Learn more</a>
  </p> -->
</div>

<!--
<% if(name) { %>
  <div class="container">
    <div class="card">
      <div class="card-header">
        Hello
      </div>
      <div class="card-body">
        <h5 class="card-title">Hi there <%= name %> thanks for joining us today! </h5>
        <h5 class="card-title">What would you like to purchase today?</h5>
      </div>
    </div>
</div>
<% } %> 

<div class="container">
  <form action="/" method="post">
    <div class="form-group">
      <label for="name">Enter Your Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div> -->
</main>

<%- include partials/footer.ejs %>