<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="page">

  <!-- HEADER -->
  <%- include('partials/header', { currentPage: 'universities' }) %>

  <!-- MAIN CONTENT -->
  <main class="university-content">
    <h1>Our University Partners</h1>
    <p>Check to see if your university has got you covered.</p>
  </main>

  <!-- FOOTER -->
  <%- include('partials/footer') %>
</body>
</html>
